/** Add css rules here for your application. */

* {outline: none;}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.sell {
	color: red;
}

.buy {
	color: green;
}

.me {
	font-weight: bold;
}

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("image/waves@3x.png");
  background-color: #181c27;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face { font-family: SFUIText; src: url('font/SFProText-Regular.ttf') format('TrueType');  }

.logo {
    font-family: SFUIText;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.6;
    letter-spacing: 7px;
    text-align: center;
    color: #43425d;
}

.welcome-text {
    font-family: SFUIText;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: center;
    color: #4d4f5c;
    width: 400px;
}

.login-input {
    border-bottom: solid #e9e9f0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    
    font-family: SFUIText;
    font-size: 15px;
    color: #43425d;
}

.gwt-Button.login-button {
    width: 185px;
    height: 50px;
    border-radius: 4px;
    font-family: SFUIText;
    font-size: 18px;
    background: none;
}

.gwt-Button.request-acc {
    color: #4d4f5c;
    background-color: white;
}

.gwt-Button.enter-btn {
    color: white;
    background-color: #43425d;
}

.user-nick-label {
    font-family: SFUIText;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}

.gwt-Button.result-button {
    background: none;
    background-color: rgb(70, 74, 82);
    border-radius: 27px;
    border-width: 0px;
    width: 217px;
    height: 45px;
    color: white;
    font-family: SFUIText;
    font-size: 16px;
}

.region-pane {
    border-radius: 5px;
    background-color: #242a3a;
}

.region-title {
    font-family: SFUIText;
    font-size: 16px;
    color: white;
    padding: 20px;
}


.table-header .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    font-family: SFUIText;
    font-size: 13x;
    font-weight: normal;
    color: #8c8e97;
    text-shadow: none;
}

.table-header .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    font-family: SFUIText;
    font-size: 13px;
    font-weight: normal;
    color: white;
    background-color: #242a3a;
    border: none;
    height: 50px;
}

.join-button button {
    width: 50px;
    height: 24px;
    border-radius: 14px;
    background-color: #443df2;
    color: white;
    font-family: SFUIText;
    font-size: 11px;
    border: none;
}

.cancel-button button {
    width: 69px;
    height: 24px;
    border-radius: 14px;
    background-color: #f23d3d;
    color: white;
    font-family: SFUIText;
    font-size: 11px;
    border: none;
}

.enter-round-button button {
    width: 69px;
    height: 24px;
    border-radius: 14px;
    background-color: #ff8820;
    color: white;
    font-family: SFUIText;
    font-size: 11px;
    border: none;
}

.gwt-Button.lobby-button {
    background: none;
    background-color: rgb(70, 74, 82);
    border-radius: 27px;
    border-width: 0px;
    width: 142px;
    height: 45px;
    color: white;
    font-family: SFUIText;
    font-size: 16px;
}

.result-table .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    font-family: SFUIText;
    font-size: 13x;
    font-weight: normal;
    color: #8c8e97;
    text-shadow: none;
}

.result-table .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    font-family: SFUIText;
    font-size: 13px;
    font-weight: normal;
    color: white;
    background-color: #242a3a;
    border: none;
    height: 50px;
}

.result-table .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridSelectedRowCell {
    background-color: rgb(97, 113, 156);
}

.region-title-team-result {
    font-family: SFUIText;
    font-size: 16px;
    color: white;
    padding: 10px;
}

.result-table .identity-user .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    font-family: SFUIText;
    font-size: 13px;
    font-weight: bold;
    color: #00ffac;
    background-color: #242a3a;
    border: none;
    height: 50px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #181c27;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: #767883; 
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.trade-round-id {
  font-family: SFUIText;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.trade-timeout {
    font-family: SFUIText;
    font-size: 16px;
    font-weight: normal;
    color: white;
    width: 60px;
}

.trade-minor-text {
    font-family: SFUIText;
    font-size: 16px;
    color: #a0a0a1;
}


.trade-table .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    font-family: SFUIText;
    font-size: 13x;
    font-weight: normal;
    color: #8c8e97;
    text-shadow: none;
}

.trade-table .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    font-family: SFUIText;
    font-size: 13px;
    font-weight: normal;
    color: white;
    background-color: #242a3a;
    border: none;
    height: 22px;
    
    border-bottom: solid #5b5f6a;
    border-width: 1px;
}

.trade-table .sell .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    color: #ffa7be;
}

.trade-table .buy .com-google-gwt-user-cellview-client-DataGrid-Style-dataGridCell {
    color: #81ffa3;
}

.gwt-TextBox.order-input {
    width: 130px;
    height: 34px;
    background-color: rgb(82, 87, 98);
    border: none;
    
    padding-left: 8px;
    font-family: SFUIText;
    font-size: 13px;
    color: white;
}

.gwt-Button.order-button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    border-width: 0px;
    
    font-family: SFUIText;
    font-size: 11px;
    color: white;
    background: none;
}

.gwt-Button.order-market {
    background-color: #1c4fb9;
}   

.gwt-Button.order-limit {
    background-color: #ff8921;
}   

.custom-tab .gwt-TabBar {
    border-bottom: solid #5b5f6a;
}

.custom-tab .gwt-TabBar .gwt-TabBarItem {
    background: none;
}

.custom-tab .gwt-TabBarItem .gwt-Label {
    color: white;
    font-family: SFUIText;
    font-size: 16px;
    font-weight: 400;
    background: none;
}

.custom-tab .gwt-TabBarItem.gwt-TabBarItem-selected {
    border-bottom: solid #26f0ff;
}

.custom-tab .gwt-TabPanelBottom {
    border: none;
}

.footer-label {
    font-family: SFUIText;
    font-size: 15px;
    color: #86868f;
}